<footer>
    <div class="footer container-fluid">
        <div class="footer-content row">
            <div class="col-12 col-md-6 p-0">
                <h1>{{'Monaseb' | translate}}</h1>
                <p style="font-size: 18px;">{{'Monaseb-Paragraph' | translate}}</p>
            </div>
            <div class="col-12 offset-md-1 col-md-3 p-0">
                <h1>{{'Shopping-Online' | translate}}</h1>
                <ul>
                    <li><a routerLink="/login">{{'Sign-in' | translate}}</a></li>
                    <li><a routerLink="/choose-account">{{'Register' | translate}}</a></li>
                    <li><a routerLink="/home" fragment="contactUs">{{'Contact-Us' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 p-0">
                <h1>{{'Contact' | translate}}</h1>
                <ul>
                    <li class="socials">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>01015723127</li>
                    <li><a href="mailto:info@monaaseb.com">info@monaaseb.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center" style="padding-top: 25px;">
            <div class="col-12 p-0">
                <small
                    style="font-family: 'Raleway', 'Cairo'; color: #b5b6b6; font-size: 16px;">{{'FOOTER-PARAGRAPH'| translate}}</small>
            </div>
        </div>
    </div>
</footer>