<app-header></app-header>
<div class="container-fluid p-0 d-none d-sm-block">
    <img class="img-fluid" src="assets/imgs/lebs.jpg" alt="Clothes">
</div>
<div class="container-fluid text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <h1 class="header" style="margin-top: 30px;">{{'WHO-WE-ARE' | translate}}</h1>
                <br>
                <h4 style="letter-spacing: 2px;">{{'FIRST' | translate}}</h4> <br>
                <p class="aboutParagraph">{{'WE' | translate}}.</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 80px 0 50px 0;">
        <div class="col-12">
            <br>
            <h1 class="header">{{'OUR-TEAM' | translate}}</h1>
            <br><br>
        </div>
    </div>
    <div class="row ourTeam">
        <div class="col-6 col-lg-4">
            <img src="assets/our team/bably.jpeg" alt="Mohamed El-Bably">
            <h2>{{'MOHAMED-EL-BABLY' | translate}}</h2>
            <h4>{{'CEO-OF-MONASEB' | translate}}</h4>
            <a href="https://www.facebook.com/aly.a.mostafa.9" target="_blank"><i class="fa fa-facebook-square"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/alyhesham98" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/dawod.jpg" alt="Mohamed Dawoud">
            <h2>{{'MOHAMED-DAWOUD' | translate}}</h2>
            <h4>{{'MARKETING-MANAGER' | translate}}</h4>
            <a href="https://www.facebook.com/mohamed.dawod.758" target="_blank"><i
                    class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/mohamed-dawoud-7163a0b5" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/duha.jpg" alt="Duha Emad">
            <h2>{{'DUHA-EMAD' | translate}}</h2>
            <h4>{{'TECHNICAL-MANAGER' | translate}}</h4>
            <a href="https://www.facebook.com/profile.php?id=100002404372775" target="_blank"><i
                    class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/duha-emad-17727b1ba" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/hegab.jpeg" alt="Ahmed Hegab">
            <h2>{{'AHMED-HEGAB' | translate}}</h2>
            <h4>{{'CAO-OF-MONASEB' | translate}}</h4>
            <a href="https://www.facebook.com/ahmedhegab07" target="_blank"><i class="fa fa-facebook-square"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/ahmed-hegab-3ba8781bb" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/me.jpg" alt="Marawan Tarram">
            <h2>{{'MARAWAN-TARRAM' | translate}}</h2>
            <h4>{{'FRONT-END-DEVELOPER' | translate}}</h4>
            <a href="https://www.facebook.com/mtarram" target="_blank"><i class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/mtarram" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/aly.jpg" alt="Aly Ahmed">
            <h2>{{'ALY-HESHAM' | translate}}</h2>
            <h4>{{'FRONT-END-DEVELOPER' | translate}}</h4>
            <a href="https://www.facebook.com/aly.a.mostafa.9" target="_blank"><i class="fa fa-facebook-square"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/alyhesham98" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/youssef.jpeg" alt="Youssef El-Sheikh">
            <h2>{{'YOUSSEF-EL-SHEIKH' | translate}}</h2>
            <h4>{{'HUMAN-RESOURCES' | translate}}</h4>
            <a href="https://www.facebook.com/yousef.elsheikh2" target="_blank"><i
                    class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/yousef-elsheikh-57a3401ab" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/ahmedhossam.jpg" alt="Ahmed Hossam">
            <h2>{{'AHMED-HOSSAM' | translate}}</h2>
            <h4>{{'BACK-END-DEVELOPER' | translate}}</h4>
            <a href="https://www.facebook.com/ahmed.hossam.3139" target="_blank"><i
                    class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/ahmed-hossam-b1768a121/" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/yasmine.jpeg" alt="Yasmine Khaled">
            <h2>{{'YASMINE-KHALED' | translate}}</h2>
            <h4>{{'BACK-END-DEVELOPER' | translate}}</h4>
            <a href="https://www.facebook.com/yaso96" target="_blank"><i class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/yasmine-khaled-929b1518b" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-6 col-lg-4">
            <img src="assets/our team/esraa.jpg" alt="Esraa Moneim">
            <h2>{{'ESRAA-MONEIM' | translate}}</h2>
            <h4>{{'UI/UX-DESIGNER' | translate}}</h4>
            <a href="https://www.facebook.com/esraa.abdelmoneim.9" target="_blank"><i
                    class="fa fa-facebook-square"></i></a> &nbsp;
            <a href="https://www.linkedin.com/in/esraa-moneim-815b62174" target="_blank"><i
                    class="fa fa-linkedin-square"></i></a>
        </div>
    </div>
    <br><br>
</div>
<app-footer></app-footer>