<app-header></app-header>
<div class="container-fluid">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" style="font-size: 26px; font-weight: 600;">{{'OUR-SHOPS' | translate}}</a>
        <form class="form-inline">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="shop, product" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </nav>
    <div class="row p-3">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <button class="btn btn-outline-dark font-weight-bold mb-3" data-toggle="collapse" data-target="#filterMenu"
                aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-align-left"></i>
                {{'ALL-FILTERS' | translate}}</button>
            <div class="collapse show mb-3" id="filterMenu">
                <div class="card card-body">
                    <section class="place">
                        <label class="mb-3">{{'Location' | translate}}</label>
                        <label class="container">{{'Alexandria' | translate}}
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">{{'El-Gharbeya' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">{{'Kafr-Elsheikh' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </section>
                    <section class="Category">
                        <label class="mb-3">{{'Category' | translate}}</label>
                        <label class="container">{{'Men' | translate}}
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'Women' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'Kids' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </section>
                    <section class="clothing">
                        <label class="mb-3">{{'Clothing' | translate}}</label>
                        <label class="container">{{'Sweatshirts' | translate}}
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'T-shirt' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'Polo-Shirts' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'Jackets-Coats' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'Shoes' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">{{'Swimwear' | translate}}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <h1 class="text-center mt-3 font-weight-bold" style="margin-bottom: 100px;">
                {{'AVAILABLE-SHOPS' | translate}}</h1>
            <div class="row text-center">
                <div class="col-12 col-lg-4" *ngFor="let shop of shops">
                    <div class="card shopCard w-100" style="width: 18rem; cursor: pointer;">
                        <div class="card-body" routerLink="/our-shops/{{shop.id}}">
                            <h5 class="card-title font-weight-bold">{{ shop.name | uppercase }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Location: {{ shop.address }}</h6>
                            <p class="card-text">{{ shop.about }}</p>
                            <img class="img-responsive w-100 h-100 mb-3" src="assets/imgs/storeLogoProfile.png"  alt="Shop Image" style="display: block; border-radius: 2px;">
                            <a class="card-link">{{ shop.city | uppercase }}</a>
                            <a class="card-link">{{ shop.country | uppercase }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>