.container-fluid {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 70px;
    }
}

.col {
    margin-top: 250px;
}