<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-6 form-div">
            <form >
                <h1 class="text-center headerrr" style="color: #662D91;">Confirm your Order</h1>
                <div class="form-group">
                    <label for="address">Address Line</label>
                    <input type="text" name="address" class="form-control"
                        placeholder="Address: Smouha, Alexandria, Egypt">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" class="form-control" placeholder="0123456789">  
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-block py-2" >Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>