<div class="container-fluid">
    <h1>{{'OUR-SERVICES' | translate}}</h1>

    <ul class="row" data-aos="fade-up" data-aos-duration="1000">
        <li class="col-12 col-sm-6 col-lg-3">
            <img src="assets/imgs/delivery-man.png" alt="delivery">
            <h2>{{'EXPRESS-DELIVERY' | translate}}</h2>
            <h5>{{'Delivery-Paragraph' | translate}}</h5>
        </li>
        <li class="col-12 col-sm-6 col-lg-3">
            <img src="assets/imgs/notification.png" alt="delivery">
            <h2>{{'MAIL-NOTIFICATION' | translate}}</h2>
            <h5>{{'Mail-Paragraph' | translate}}</h5>
        </li>
        <li class="col-12 col-sm-6 col-lg-3">
            <img src="assets/imgs/customer-service.png" alt="delivery">
            <h2>{{'CUSTOMER-SERVICE' | translate}}</h2>
            <h5>{{'CustomerService-Paragraph' | translate}}</h5>
        </li>
        <li class="col-12 col-sm-6 col-lg-3">
            <img src="assets/imgs/map.png" alt="delivery">
            <h2>{{'ORDER-TRACKING' | translate}}</h2>
            <h5>{{'Tracking-Paragraph' | translate}}</h5>
        </li>
    </ul>
</div>