<app-second-header></app-second-header>
<br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <img src="../../../assets/imgs/storeLogo.png" alt="Store Logo">
            <br><br>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id error quibusdam est laudantium esse quo,
                sunt deleniti
                quidem nisi natus explicabo beatae temporibus culpa. Illum maiores suscipit cupiditate facere at quis
                rerum,
                quibusdam recusandae, reprehenderit libero molestiae eaque, nam expedita! Unde repudiandae assumenda
                incidunt facere
                nisi officia eum distinctio suscipit.</h4>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <h5>Owner Name: Ahmed Mahmoud Mohamed</h5>
                </li>
                <li>
                    <h5>Phone Number: 0123456789</h5>
                </li>
                <li>
                    <h5>E-mail: ahmed@gmail.com</h5>
                </li>
                <li>
                    <h5>City: Tanta</h5>
                </li>
            </ul>
        </div>

    </div>
</div>
<br><br>
<app-footer></app-footer>