<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-pause="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <img class="d-block w-100" alt="Shopping1" src="assets/imgs/slideshow/1.jpg">
                        <div class="centered">
                            <div class="d-none d-lg-block">
                                <h1 class="display-3">{{'BUY' | translate}}</h1>
                                <h1 class="display-3">{{'THINK' | translate}}</h1>
                                <h1 class="display-3">{{'GROW' | translate}}</h1>
                            </div>
                            <h5>{{'WE-WILL' | translate}}</h5>
                            <a routerLink="/our-shops"><button
                                    class="btn btn-lg m-3">{{'SHOP-NOW' | translate}}</button></a>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img class="d-block w-100" alt="Shopping2" src="assets/imgs/slideshow/2.jpg">
                        <div class="centered">
                            <div class="d-none d-lg-block">
                                <h1 class="display-3">{{'BUY' | translate}}</h1>
                                <h1 class="display-3">{{'THINK' | translate}}</h1>
                                <h1 class="display-3">{{'GROW' | translate}}</h1>
                            </div>
                            <h5>{{'WE-WILL' | translate}}</h5>
                            <a routerLink="/our-shops"><button
                                    class="btn btn-lg m-3">{{'SHOP-NOW' | translate}}</button></a>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img class="d-block w-100" alt="Shopping3" src="assets/imgs/slideshow/3.jpg">
                        <div class="centered">
                            <div class="d-none d-lg-block">
                                <h1 class="display-3">{{'BUY' | translate}}</h1>
                                <h1 class="display-3">{{'THINK' | translate}}</h1>
                                <h1 class="display-3">{{'GROW' | translate}}</h1>
                            </div>
                            <h5>{{'WE-WILL' | translate}}</h5>
                            <a routerLink="/our-shops"><button
                                    class="btn btn-lg m-3">{{'SHOP-NOW' | translate}}</button></a>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img class="d-block w-100" alt="Shopping4" src="assets/imgs/slideshow/4.jpg">
                        <div class="centered">
                            <div class="d-none d-lg-block">
                                <h1 class="display-3">{{'BUY' | translate}}</h1>
                                <h1 class="display-3">{{'THINK' | translate}}</h1>
                                <h1 class="display-3">{{'GROW' | translate}}</h1>
                            </div>
                            <h5>{{'WE-WILL' | translate}}</h5>
                            <a routerLink="/our-shops"><button
                                    class="btn btn-lg m-3">{{'SHOP-NOW' | translate}}</button></a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>