nav {
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

.bg-dark {
    background: linear-gradient(to right, rgb(33, 1, 36), rgb(34, 35, 36));
}

.nav-item {
    margin-left: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
    text-transform: uppercase;
}

i {
    font-size: 30px;
    color: white;
}

i:hover {
    color: gray;
}

img:hover {
    opacity: 0.5;
}